.reviews-banner {
    padding: 50px;
}

.review .card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 767px) {
    .reviews-banner {
        padding: 20px;
    }

    .reviews-title {
        font-size: 24px;
    }
}